.App {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.vcenter {
  position:absolute;
  left:10%;
  top:50px;
  font-size:450%;
  font-family: fantasy;
}
.center {
  position:absolute;
  top:250px;
  left:10%;
  font-size:230%;
  font-family: fantasy;
  text-align: left;
}

.ti{

  text-align: center;
  position:relative;
}
.detail{

  text-align: center;
  margin-top: 3%;
  padding: 40px;
  font-size:420%;
}
.sli{
  font-size:300%;
}
.content{
  margin-top: 40px;
  font-size:25%;
}
.getInfo{
  width: 500px;
  /* 文字颜色 */
  /* 清除背景色 */
  background: transparent;
  /* 边框样式、颜色、宽度 */
  border: 2px solid #0099CC;
  /* 给边框添加圆角 */
  border-radius: 6px;
  /* 字母转大写 */
  color: white;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
/* 悬停样式 */
.getInfo:hover{
  background-color: #008CBA;
  color: white;
}
.card {
  float:left;
  width:45%;
  margin-left: 3%;
  margin-top: 50px;
  background-color: cadetblue;
  box-shadow:0px 5px 20px #999;
}
.card a {
  color:#333;
  text-decoration:none;
}
.card:hover .card-image img {
  width:160%;
  filter:grayscale(0);
}
.card-image {
  height:350px;
  position:relative;
  overflow:hidden;
}
.card-image img {
  width:150%;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  filter:grayscale(1);
  transition-property:filter width;
  transition-duration:.3s;
  transition-timing-function:ease;
}
.card-body {
  text-align:center;
  padding: 15px 20px;
  box-sizing: border-box;
}
.card-date {
  font-family: 'Source Sans Pro', sans-serif;
}
.card-title, .card-excerpt {
  font-family: 'Playfair Display', serif;
}
.card-date, .card-title {
  text-align:center;
  text-transform:uppercase;
  font-weight: bold;
}
.card-date, .card-excerpt {
  color: #777;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 100%;
  overflow: hidden;
}
.Knowledge{
  background-color: cadetblue;
  height: 400px;
}
.ConTent{
  font-size:140%;
}
